/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    .portfolio .card {
        width: 90%;
    }

    .navbar .nav-list {
        display: none;
    }

    main .container {
        flex-wrap: wrap;
        /* flex-direction: ; */
    }

    main * {
        display: block;
        font-size: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}