* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
    ); */
    background-image: url(../../assets/images/bg1.svg);
}
.todo-element {
    padding: 25px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 40px;
    margin-top: 30px;
}
.todo-element h2 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.input-control {
    position: relative;
    height: 80px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.input-control input[type="search"] {
    display: inline-block;
    float: left;
    width: 100%;
    left: 0;
    height: 40px;
    padding: 4px;
}
.input-control input[type="text"] {
    display: inline-block;
    float: left;
    width: 70%;
    left: 0;
    height: 40px;
    padding: 4px;
}
.input-control button {
    display: inline-block;
    right: 0;
    height: 40px;
    width: 30%;
    padding: 4px;
    background-color: #061f46;
    color: white;
}
.drop-list {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    min-height: 40px;
}
.todo-item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(
        to right top,
        #244f97,
        #3a9ad1,
        #b1c3c5,
        #00bf72,
        #a8eb12
    );
}
.todo-item span {
    padding: 0 10px;
}
.finished-list p.todo-item {
    filter: grayscale(1);
}
.finished-list > .todo-item > span:first-child {
    text-decoration: line-through;
}
